/* Colors "imported" from DarkTheme.js file  */
:root {
  --black: #000000;
  --lightBlack: #282a2d;
  --lighterBlack: #2c2c2c;
  --white: #ffffff;
  --gray: #808080;
  --background: #e3dbd3;
}

a {
  text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 19px;
}

@media (min-width: 960px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: var(--lightBlack);
  height: 18% !important;
}

/* Color/shape of burger icon bars on hover*/
/* .bm-burger-bars-hover {
    background: #a90000;
  } */

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 28px;
  width: 28px;
  top: 20px !important;
  right: 20px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--background);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  /* background: rgba(0, 0, 0, 0.3); */
}
